.PostContainer {
    display: grid;
}

.PostCard {
    padding: auto;
    margin: 3%;
    position: relative;
    width: 65%;
    height: 70%;
}
.CardFooter {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: auto;
}
.Likes {
    display: inline-flex;
    justify-content: space-between;
}
.Comments {
    display: inline-flex;
    justify-content: space-between;
}