.comment-body {
    background-color: lightgray;
    grid-column: auto;
    border-radius: 7px;
    margin-bottom: 0;
}
.comment-user {
    width: 12%;
    border-right: outset 4px;
    border-color: aliceblue;
}
.comment-text-container {
    align-items:center;
    width: 100%;
    vertical-align: top;
}
.comment-text-area {
    display:table-cell;
    margin-top:2px;
    text-align: left;
    margin: initial 0,0,0,0;
    width: inherit 100%;
    height: 100%;
}
.comment-container {
    border-style: groove;
    border-radius: 7px;
    border-color:cornflowerblue;
    box-shadow: 0 -1em 1em #cba1a199, 0 0 0 2px rgb(74, 174, 119), 0.3em 0.3em 2em rgb(3, 75, 3);
}
.button-container{
    width:5%;
    vertical-align:bottom;
}
.button {
    width: 100%;
}
.field-search-container{
    justify-self: initial center;
    width:100%!important;
    display:flex!important;
    margin-right:initial 5px;
}