.CategoriesInIndex{
    margin: 2%;
    display: inline-flex;
}

.PostInMain {
    display: grid;
    margin: 2%;
}
.PostCard {
    padding: initial 4px,7px,2px,4px;
    margin: auto;
    position: center;
    width: initial 65%;
    height: initial 70%;
}
