.issue-container {
    width:100%;
    border: solid 2px;
    border-color: darkred;
}
.issue-header-id {
    width: 90%;
    justify-self:center;
    border: groove 2px;
    width: 30px;
}
.issue-content {
    border-bottom: initial solid 1px;
}
.issue-table {
    width: 100%;
}
.issue-button-hide {
}