.issue-container {
    border: initial solid 2px;
    border-color: darkred;
}
.issue-header-id {
    border:groove 2px;
    width: 30px;
}
.issue-content {
    border-bottom: initial solid 1px;
}
.issue-button-hide{

}