@model IEnumerable<DatabaseConnector.Issue>
<partial name="_AccountNavBarPartial" />
<div class="issue-container">
    <div>
        <table>
            <thead>
                <tr class="issue-header-id">
                    <th>
                        <div>
                            Issue Id
                        </div>
                    </th>
                    <th>
                        <div>
                            User
                        </div>
                    </th>
                    <th>Issue</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
                @foreach(var item in Model)
                {
                    <partial name="Issue" model=item />
                }
        </table>
    </div>
</div>