@using DatabaseConnector.DTO;
@model IEnumerable<DatabaseConnector.Post>
@{
    ViewData["Title"] = "Search";
}
<div class="PostInMain">
    <div сlass="PostCard" id="posts-container">
        <partial name="/Views/Post/_PostsPartial.cshtml" model="@Model" />
        <div id="loading-indicator"></div>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            let loading = false;
            let skip = @Model.Count();
            let take = 10;
            let creationDate = "";
            let category = '@Html.Raw(ViewBag.Category)';
            let container = $('#posts-container');
            let indicator = $('#loading-indicator');
            $(window).scroll(function () {
                if (!loading && $(window).scrollTop() >= $(document).height() - $(window).height() - 100) {
                    loading = true;
                    indicator.show();
                    $.ajax({
                        type: "POST",
                        url: '/Post/GetPosts',
                        data: { creationDate: creationDate, category: category, skip: skip, take: take },
                        success: function (html) {
                            indicator.remove();
                            container.append(html);
                            indicator = $('#loading-indicator');
                            skip += take;
                            loading = false;
                            indicator.hide();
                        }
                    });
                }
            });
        });
    </script>
}