@using DatabaseConnector.DTO;
@model IEnumerable<DatabaseConnector.Post>
@{
    ViewData["Title"] = "Search";
}
<div class="PostInMain">
    <div сlass="PostCard" id="posts-container">
        <partial name="/Views/Post/_PostsPartial.cshtml" model="@Model" />
    </div>
</div>