<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <!-- logo -->
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/icons/logo.jpg" style="width:50px; height: 50px;" /></a>
            <!-- mobile -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <!-- base pages -->
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        @{
                            if (ViewData["Title"].ToString() == "Home")
                            {
                                <button class="bttn-minimal bttn-sm bttn-royal"><a class="nav-link text-dark" style="text-decoration: none;" asp-area="" asp-controller="Home" asp-action="Index">Home</a></button>
                            }
                            else
                            {
                                <button class="bttn-stretch bttn-sm bttn-royal"><a class="nav-link text-dark" style="text-decoration: none;" asp-area="" asp-controller="Home" asp-action="Index">Home</a></button>
                            }

                        }
                    </li>
                    <li class="nav-item">
                        @{
                            if (ViewData["Title"].ToString() == "Categories")
                            {
                                <button class="bttn-minimal bttn-sm bttn-royal"><a class="nav-link text-dark" style="text-decoration: none;" asp-area="" asp-controller="Home" asp-action="Categories">Categories</a></button>
                            }
                            else
                            {
                                <button class="bttn-stretch bttn-sm bttn-royal"><a class="nav-link text-dark" style="text-decoration: none;" asp-area="" asp-controller="Home" asp-action="Categories">Categories</a></button>
                            }

                        }
                    </li>
                </ul>
                <!-- Search -->
                <form action="/Home/Search" method="Post" class="field-search-container">
                    <input name="str" class="form-control me-2" type="text" placeholder="Поиск" aria-label="Поиск" />
                    <input class="btn btn-outline-success" type="submit" value="Поиск" />
                </form>
                <!-- login/register -->
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>
