@model DatabaseConnector.Comment

<div class="comment-container">
    <table>
        <tbody>
            <tr>
                <td class="comment-user">
                    <div class="comment-body">
                        <h2 style="background-color:darkcyan; border-radius: 199px; width: 43px; height: 43px; text-align:center;">
                            👨‍💻
                        </h2>
                    </div>
                    <div>
                        <h2>
                            @Model.User!.NickName
                        </h2>
                    </div>
                    <div>
                        @Model.CreationDate
                    </div>
                </td>
                <td class="comment-text-container">
                    <div class="comment-text-area">
                        @Model.Content!.Text!.ToString();
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <form asp-controller="Issue" asp-action="AutoIssue" method="post">
            <input type="hidden" name="contentText" value="@Model.Id">
            <input type="hidden" name="issueType" value="2">
            <button type="submit" class="uk-button uk-button-text">Пожаловаться</button>
        </form>
    </div>
</div>