@{
    ViewData["Title"] = "Edit";
}


<div class="px-4 py-5 my-5 text-center">
    <form asp-controller="Post" asp-action="AddPost" method="post">

        <div class="form-group">         
            <input class="form-control" name="Category" />
        </div>
        <div class="form-group">
            <textarea id="editor" name="Description"></textarea>           
        </div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">Create</button>
    </form>
</div>
